.mb {
  margin-bottom: 10px;
}

.ml {
  margin-left: 10px;
}

.mr {
  margin-right: 10px;
}

.mt {
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.squareInput {
  background: transparent;
  width: 60px;
  height: 60px;
  border: 1px solid #c4c4c4;
}

.operator {
  display: flex;
  align-items: center;
}
