.squareInput {
  background: transparent;
  width: 60px;
  height: 60px;
  border: 2px solid #c4c4c4;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.lineInput {
  background: transparent;
  width: 40px;
  height: 20px;
  border: 0px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 10px;
}
