.squareInput {
  background: transparent;
  width: 60px;
  height: 60px;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
